@import url(https://fonts.googleapis.com/css?family=Andika);
@import url(https://fonts.googleapis.com/css?family=Open%20Sans);

:root {
  --dark: #31352E;
  --light: #D1E2C4;
  --primary: #778A35;
  --secondary: white;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--secondary);
}

header, h1, h2, h3, h4 {
  font-family: 'Andika', sans-serif;
}

header {
  margin: 0;
  background-color: var(--light);
  color: var(--dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  text-decoration: none;
}

header ul li {
  display: inline;
  margin-right: 50px;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--dark);
}

a:hover {
  color: var(--primary);
}

h1, h4 {
  margin: 0;
}

h1 {
  font-weight: bold;
  font-size: 50px;
  margin: 10px 0;
  padding-left: 80px;
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 5px;
  background-color: var(--dark);
  color: var(--secondary);
  border-radius: 0 10px 10px 0;
}

h3 {
  margin: 0;
  color: var(--dark);
}

#logo {
  width: 100px;
  height: 100px;
  margin-left: 1rem;
  align-items: center;
}

.name {
  font-size: 3.5rem;
  margin: 0;
  color: var(--primary)
}

.heading {
  margin-right: 2%;
  color: var(--dark);
}

.projectContainer {
  padding: 2% 8%;
}

.projectContent {
  display: flex;
  flex-direction: row;
}

.projectText {
  padding: 2%;
}

.projectText p {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  width: 70%;
  padding: 2%;
  margin-top: 5%;
}

p {
  margin: 0;
  color: var(--dark);
  font-size: 20px;
}

.left-column {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 10%;
  border-right: solid var(--light) 3px;
}

.right-column {
  padding-left: 10%;
}

#headshot {
  width: 20rem;
  border-radius: 5%;
  box-shadow: 10px 10px 50px 10px grey;;
}

#about-me .content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.work-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-cards {
  width: 48%;
  border: 2px solid black;
  height: 150px;
  position: relative;
  border: 5px solid var(--primary);
  margin-bottom: 2%;
  opacity: 0.7;
}

.content-cards:hover {
  opacity: 1;
  cursor: pointer;
}

.content-cards:nth-child(1) {
  width: 100%;
  height: 300px;
}

.subtitle {
  position: absolute;
  bottom: 20px;
  padding: 5px;
  background-color: var(--primary);
}

#ubiquitous, #friendship, #blog, #weather, #quiz {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#ubiquitous {
  background-image: url(images/ub-hero.png);
}

#project-photo {
  width: 50%;
}

#friendship {
  background-image: url(images/knowmoretiers.jpg);
}

#blog {
  background-image: url(images/TechBlog_Logo.png);
}

#weather {
  background-image: url(images/weather.png);
}

#quiz {
  background-image: url(images/coding.jpg);
}

.resume-card {
  margin-bottom: 10px;
}

.resume-header {
  background-color: var(--dark);
  color: var(--secondary);
  padding: 2%;
}

.resume-content {
  color: var(--dark);
}

button {
  background-color: var(--primary);
  color: white;
  font-family: 'Andika', sans-serif;
  font-size: large;
  border: none;
  width: 150px;
  height: 50px;
  margin-right: 20px;
}

button:hover {
  background-color: var(--light);
  color: var(--primary);
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  header ul li {
      display: flex;
      flex-wrap: wrap;
  }

  #about-me .content {
      display: flex;
      flex-wrap: wrap;
  }

  img {
      margin-bottom: 5%;
  }

  .content-cards {
      width: 100%;
      height: 150px;
      margin-bottom: 2%;
  }
}

@media screen and (max-width: 768px) {
  h1 {
      font-weight: bold;
      font-size: 40px;
      padding-left: 60px;
      padding-right: 60px;
      width: 30%;
  }
  
  header ul li {
      display: flex;
      flex-wrap: wrap;
  }

  #about-me .content {
      display: flex;
      flex-wrap: wrap;
  }

  img {
      margin-bottom: 5%;
  }

  .content-cards {
      width: 100%;
      height: 150px;
      margin-bottom: 2%;
  }
}

@media screen and (max-width: 576px) {
  .heading {
      margin: 2% 1%;
  }

  h2 {
      font-size: 15px;
      text-align: right;
  }

  .content {
      width: 95%;
  }
  
  .contact-links {
      display: block;
  }

  .contact-links p {
      margin-right: 5%;
      margin: 5% 0;
  }
}

footer {
  background-color: var(--secondary);
  color: var(--dark);
  text-align: center;
  padding: 1%;
  margin: 0;
  margin-top: 2%;
}
